:root {
  --primary-color: #363636;
  --secondary-color: #626262;
  --tertiary-color: #2BAAEC;
  --hover-color: #25e6c8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Roboto';
}

/* HELP CLASSES */

.container {
  width: 100%;
  margin: auto;
}

.d-flex {
  display: flex;
}

#clinic {
  color: var(--tertiary-color);
}

.ff {
  font-family: 'Roboto Slab';
  font-weight: normal;
  color: var(--primary-color);
}

.mt {
  margin-top: 45px;
}

.w-80 { 
  width: 80%;
  margin: auto;
}


.btn-primary {
  background-color: var(--hover-color);
  color: #fff;
  padding: 0 30px;
}


.btn {
  padding: 15px;
  font-weight: bold;
  font-family: Roboto;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  width: 30%;
  cursor: pointer;
}

/* HELP CLASSES END */

/* TOPMENU */

.topmenu {
  justify-content: space-between;
  padding: 20px 0 20px;
}

#open-times {
 color: var(--secondary-color);
 margin-left: 10px;
}

.social-media {
  margin-left: 20px;
  color: var(--tertiary-color);
}

.box {
  border-bottom: 1px solid #707070;
}

/* MAIN MENU */

.main-menu {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: 15px;
}

.main-menu h1 {
  font-size: 24px;
  color: var(--primary-color);
}

.main-menu p {
  color: var(--secondary-color);
}

.mainmenu-nav {
  display: flex;
  margin-left: auto;
}

.mainmenu-nav a {
  text-decoration: none;
  margin-left: 35px;
  color: var(--primary-color);
}

/* .mainmenu-nav a:hover {
  color: var(--hover-color);
} */

.hamburger {
  display: flex;
  margin-left: auto;
  font-size: 20px;
  cursor: pointer; 
}

.hamburger {
  color: var(--primary-color);
  border: none;
}

/* MAIN MENU END */

/* SHOWCASE */

.showcase {
  background-color: #DEDEDE;
  min-height: 200px;
  padding-top: 20px;
}

.showcase .showcase-container {
  display: flex;
  /* align-items: center; */
  /* margin: auto;
  width: 80%; */
  }

.content {
 margin-left: 150px;
}

.content h2 {
  font-size: 60px;
  font-weight: normal;
  margin: 150px 0 40px;
  color: var(--primary-color);
}

.content p {
  font-size: 18px;
  color: var(--secondary-color);
  padding-right: 100px;
  margin-bottom: 40px;
}


/* ABOUT US */

.aboutuscontent {
  margin-top: 80px;
  /* width: 70%; */
  /* justify-content: center; */
}

.aboutus {
  display: flex;
  margin-top: 50px;
  /* align-items: center; */
  /* border: 1px solid red; */
  /* width: 50% ; */
}

.aboutus h1 {
  color: var(--primary-color);
  width: 60%;
  font-size: 40px;
  padding-bottom: 20px;
}

#line {
  border-bottom: 4px solid var(--hover-color);
  width: 76%;
  margin-bottom: 40px;
}

.aboutus p {
  color: var(--secondary-color);
  font-size: 18px;
  margin-bottom: 20px;
  /* width: 75%; */

}

.aboutus-stats {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  width: 62%;
}

.aboutus-stats h3 {
  color: var(--tertiary-color);
  font-size: 40px;
  font-weight: normal;
}

.aboutus-stats p {
  color: var(--primary-color);
}

/* OUR SERVICES */

.our-services {
  background-color: #f7f7f7;
  text-align: center;
}

.our-services h1 {
  border-bottom: 3px solid var(--hover-color);
  width: 31.7%;
  margin: 0 auto 60px;
  padding: 50px 0 20px;

}

.service-logo {
  background-color: var(--hover-color);
  padding: 25px;
  width: 33%;
  margin: 25px auto;
  border-radius: 50%;
}

.service-box:hover .service-logo {
  background-color: var(--tertiary-color);
  box-shadow: 0 0 0 10px #D4EEFB;
  transition: 0.3s;
}

/* APPOINTMENT */

.appointment {
  background-color: rgb(43, 170, 236, .8);
  color: #fff;
  padding: 10px;
}

.appointment h5 {
  font-weight: normal;
}

.appointment .btn {
  color: var(--tertiary-color);
}


/* FOOTER */

.footer {
  background-color: var(--tertiary-color);
  color: rgb(243, 251, 255, .6);
  text-align: center;
}


@media (max-width: 992px) {
  .topmenu, .box, .mainmenu-nav, #woman, #guy, #line, .service-logo, .service-box p { display: none; }
  .container { 
    width: 100%; 
    padding: 10px 20px; }
  .main-menu { margin: 0; }
  #tand-logo { max-width: 30px; }
  .logo-text { font-size: 10px}
  .logo-text h1 { font-size: 15px; }
  .mt { margin-top: 20px; }

  .showcase h2 { 
    font-size: 20px; 
    text-align: center;  
    margin-bottom: 15px; 
    width: 100%;
  }

  .showcase p { 
    font-size: 14px;
    margin-bottom: 20px; 
    text-align: start; 
    width: 100%;
  }
  
  .btn {
    font-size: 13px;
    padding: 10px;
    width: 80%;
  }

  .content {
    text-align: center;
    margin-left: 0;
  }

  .content h2 {
    margin-top: 0;
  }

  .content p {
    padding-right: 0;
    margin-left: 20px;
  }

  .aboutus {
    margin-top: 0;
  }

  .aboutus h1 {
    text-align: center;
    padding: 20px 0 10px;
    border-bottom: 3px solid var(--hover-color);
    width: 100%;
    font-size: 17px;
    margin-bottom: 10px;
  }
  
  .aboutus p {
    padding: 10px;
    line-height: 25px;
    font-size: 15px;
    width: 90%;
    margin: auto;
    text-align: left center;
    font-size: 15px;
  }

  .aboutus-stats {
    margin-top: 20px;
    justify-content: center;
    width: 100%;
  }
  
  .aboutus-stats h3 {
    font-size: 18px;
    font-weight: bold;
  }


  .aboutus-stats p {
    width: 50%;
    /* align-items: center; */
  }

  .aboutus-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .aboutuscontent {
    display: block;
    margin-top: 0;
  }

  .our-services h1 {
    font-size: 25px;
    margin: 10px 0 ;
    padding: 0 0 10px;
    width: 100%;
  }

  .service-boxes {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
  }
    
  .service-box {
    width: 50%;
    justify-content: center;
    margin-bottom: 10px;
  }
    
  .service-box h4 {
    color: var(--primary-color);
    text-align: left;
    margin-left: 10px;
    padding: 8px;
    font-size: 12px;
  }

  .service-box h4:hover {
    color: var(--hover-color);
    cursor: pointer;
  }

  .appointment {
    text-align: center;
    font-size: 20px;
    }

    .appointment h5 {
      margin-bottom: 20px;
    }

  .footer {
    padding: 10px;
    font-size: 14px;
  }

  .btn-primary:hover {
    background-color: var(--tertiary-color);
  }
  
  .btn:hover {
    background-color: var(--tertiary-color);
    color: #fff;
  }

  }



@media (min-width: 992px) {
  .container {
    max-width: 1400px;
  }
  .hamburger { 
    display: none;
  }
  .context-text {
    width: 75%;
  }
  
  .service-box {
    background-color: #fff;
    flex-basis: 32%;
    border-radius: 10px;
    padding: 50px;
    cursor: pointer;
  }

  .service-box:hover {
    box-shadow: 0 0 30px 1px #b6b5b5;
  }
  
  .service-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 28px;
    justify-content: space-between;
  }

  .service-box h4 {
    font-size: 22px;
    font-weight: normal;
    font-family: 'Roboto Slab';
    color: var(--primary-color);
    margin: 45px 0 15px ;
  }

  .service-box p {
    font-size: 18px;
    color: var(--secondary-color);
    margin-bottom: 20px;
    padding: 10px;
  }

  .our-services {
    padding-bottom: 140px;
  }

  #inspection {
    padding: 10px 30px 0 30px;
  }

  #removal {
    padding: 10px 15px 0 15px;
  }

  #polish {
    padding: 10px 20px 0 20px;
  }

  #protection {
    padding: 10px 50px 0 50px;
  }

  .appointment-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 60px;
  }

  .appointment-content h5 {
    font-size: 30px;
    font-family: 'Roboto Slab';
  }

  .appointment-content .btn {
    width: 20%;
    color: var(--tertiary-color);
    border: 2px solid transparent;
  }

  .footer {
    padding: 30px;
  }

  .social-media:hover {
    color: var(--hover-color);
  }

  a:hover {
    color: var(--tertiary-color);
  }

  .btn-primary:hover {
    background-color: var(--tertiary-color);
  }
  
  .btn-secondary:hover {
    background-color: var(--tertiary-color);
    color: #fff;
    border: 2px solid #fff;
    transition: .3s;
  }
}