* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
font-family: Roboto;
}

/* .top-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  margin: 15px 0 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #A8A8A8;
} */

#open{
  color: #626262;
  margin-left: 10px;
}

.klocka {
  display: flex;
}

.social-media {
  margin-right: 20px;
}

.top-menu {
  padding: 20px 200px;
  border-bottom: 1px solid #707070;
}

.top-menu .container {
  display: flex;
  justify-content: space-between;
}

.navbar .container {
  display: flex;
  align-items: center;
}



/* .mainmenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.menulist {
  text-decoration: none;
}

.showcase {
  background-color: #DEDEDE;
  height: 700px;
} */


@media (max-width: 900px) {
 .top-menu {
   display: none;
 }
}

.social-media:hover {
  background-color: red;
}

