:root {
  --primary-color: #2BAAEC;
  --secondary-color: #626262;
  --tertiary--color: #363636;
  --hover--color: #25E6C8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
font-family: Roboto;
color: var(--secondary-color);
}

.container {
  width: 80%;
  margin: auto;
}

/* TOP-MENU */
.top-menu .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

hr {
  color:  #707070;
}

.open-times {
  display: flex;
}
.open-times, #open {
  /* display: flex;  */
  color: var(--secondary-color);
  margin-left: 10px;
}

.icons .social-media {
  margin-left: 20px;
  color: var(--primary-color);
}
/* MENU END */


/* NAVBAR */
.navbar .container {
  display: flex;
  /* width: 77%;
  margin: 50px auto; */
  align-items: center;
  margin-top: 48px;
  margin-bottom: 48px;
  /* justify-content: space-between; */
}

.show {
  padding: 1px;
  width: 100%;
}

.navbar-text {
  margin-left: 19px;
}

.navbar-nav {
  display: flex;
  /* width: 25%; */
  /* justify-content: end; */
  /* justify-content: space-between; */
  list-style: none;
  flex-wrap: wrap;
  margin-left: auto;
}

.navbar-nav li {
  /* margin-left: 30px;
  padding-right: 10px; */
  margin-left: 3rem;
  font-family: 'Roboto Slab';
  color: var(--tertiary--color);
  font-size: 18px;
}

#text-logo {
  font-family: 'Roboto Slab';
  font-weight: normal;
  color: var(--tertiary--color);
}

#clinic {
  color: var(--primary-color);
}
/* NAVBAR END */

/* SHOWCASE */
.showcase {
  background-color: #DEDEDE;
  height: 700px;
}

.showcase .container {
  display: flex;
  padding-top: 20px;
  width: 85%;
 
}

.showcase-info {
  width: 50%;
  margin-top: 155px;
  margin-left: 245px;
}

.showcase h1 {
  font-size: 60px;
  margin-bottom: 40px;
}

.showcase p {
  font-size: 18px;
  width: 85%;
}

.btn {
  background-color: var(--hover--color);
  color: #fff;
  margin-top: 30px;
  padding: 18px 55px;
  border-radius: 10px;
  border: transparent;
  font-size: 18px;
  font-family: 'Roboto';
}
/* SHOWCASE END */

/* ABOUT US */

.flex-container{
  display: flex;
  margin-top: 100px;
  align-content: center;
  justify-content: space-around;
}

.aboutus {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 70px;
  font-size: 18px;
}

.aboutus h1 {
  font-family: 'Roboto Slab';
  font-size: 40px;
  color: var(--tertiary--color);
  width: 80%;
  /* padding: 0 100px 0 0; */
  /* margin-right: 100px; */
  font-weight: normal;
}

.box {
  border-bottom: 4px solid #25E6C8;
  padding-bottom: 20px;
  margin-bottom: 50px;
  width: 92%;
}

.fill-text {
 width: 90%;
 margin-bottom: 30px;
 color: var(--secondary-color);
}

.hej {
  display: flex;
  /* justify-content: space-around; */
  margin-top: 20px;
  /* width: 97%; */
  /* padding-right: 80px; */
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: 240px;
}

.hej h1 {
  color: var(--primary-color);
  margin-bottom: 10px;
}

.hej p {
  color: var(--tertiary--color);
  font-family: 'roboto slab';
}

@media (max-width: 905px) {
  .top-menu, hr, img {
    display: none;
  }
}

@media (max-width: 905px) {
   li, .navbar {
    display: none;
  }
}

@media (max-width: 905px) {
   .show {
    display: block;
    margin: 0;
  }
}

.social-media:hover, li:hover {
  color: var(--hover--color);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}
