* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topmenu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 15px 0 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #A8A8A8;
}

.topmenu h5 {
  font-weight: normal; 
  margin-left: 7px;
}

.icons img {
  /* display: flex; */
  margin: 0 10px;
}

.mainmenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.menulist {
  text-decoration: none;
}

.showcase {
  background-color: #DEDEDE;
  height: 700px;
}

